<?xml version="1.0" encoding="utf-8"?>
<Media Key="894e22f9-1686-42b2-8625-3e6196c3a607" Alias="9X Logo (3)" Level="2">
  <Info>
    <Parent Key="3cb0c36b-57b1-4135-be20-db89079cc004">Logo</Parent>
    <Path>/Logo/XLogo3</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2020-09-02T14:56:29</CreateDate>
    <NodeName Default="9X Logo (3)" />
    <SortOrder>0</SortOrder>
    <FileHash>8771265114841187125255176242564827223106</FileHash>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/52re3cmg/9x-logo-3.png","crops":null}]]></Value>
    </umbracoFile>
  </Properties>
</Media>