<?xml version="1.0" encoding="utf-8"?>
<Media Key="ff2706a5-8adb-485b-ae71-84f312e47377" Alias="Avatars" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Avatars</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2020-09-02T13:56:35</CreateDate>
    <NodeName Default="Avatars" />
    <SortOrder>0</SortOrder>
    <FileHash></FileHash>
  </Info>
  <Properties />
</Media>