<?xml version="1.0" encoding="utf-8"?>
<Media Key="0ebddcbb-2b64-45af-bcaf-93781614c844" Alias="Banners" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Banners</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2020-09-02T13:56:51</CreateDate>
    <NodeName Default="Banners" />
    <SortOrder>2</SortOrder>
    <FileHash></FileHash>
  </Info>
  <Properties />
</Media>