<?xml version="1.0" encoding="utf-8"?>
<Media Key="403a8c23-5902-400e-9aba-6f96e0b91817" Alias="Banner 1" Level="2">
  <Info>
    <Parent Key="3cb0c36b-57b1-4135-be20-db89079cc004">Logo</Parent>
    <Path>/Logo/Banner1</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2020-09-05T14:03:36</CreateDate>
    <NodeName Default="Banner 1" />
    <SortOrder>0</SortOrder>
    <FileHash>2111845647190243207242198281343213242121176</FileHash>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/ewgduqac/banner-1.jpg","crops":null}]]></Value>
    </umbracoFile>
  </Properties>
</Media>