<?xml version="1.0" encoding="utf-8"?>
<Media Key="9a419a32-3056-4e81-b763-009927bb1285" Alias="Banner 1" Level="2">
  <Info>
    <Parent Key="1ac39230-9c5a-4ab8-aae1-a0ab2718b524">Categories</Parent>
    <Path>/Categories/Banner1</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2020-09-05T14:03:49</CreateDate>
    <NodeName Default="Banner 1" />
    <SortOrder>0</SortOrder>
    <FileHash>2111845647190243207242198281343213242121176</FileHash>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/gsnedgsw/banner-1.jpg","crops":null}]]></Value>
    </umbracoFile>
  </Properties>
</Media>