<?xml version="1.0" encoding="utf-8"?>
<Media Key="a8b05d8f-04a7-43fd-930f-0c6c7251d1b8" Alias="Blog" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Blog</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2020-09-05T17:46:54</CreateDate>
    <NodeName Default="Blog" />
    <SortOrder>9</SortOrder>
    <FileHash></FileHash>
  </Info>
  <Properties />
</Media>