<?xml version="1.0" encoding="utf-8"?>
<Media Key="4fe1c820-c6f3-4fea-a861-0d95b7c16045" Alias="Blog 1" Level="2">
  <Info>
    <Parent Key="a8b05d8f-04a7-43fd-930f-0c6c7251d1b8">Blog</Parent>
    <Path>/Blog/Blog1</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2020-09-05T17:47:03</CreateDate>
    <NodeName Default="Blog 1" />
    <SortOrder>0</SortOrder>
    <FileHash></FileHash>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/e1eoct5t/blog-1.jpg","crops":null}]]></Value>
    </umbracoFile>
  </Properties>
</Media>