<?xml version="1.0" encoding="utf-8"?>
<Media Key="1ac39230-9c5a-4ab8-aae1-a0ab2718b524" Alias="Categories" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Categories</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2020-09-02T13:57:12</CreateDate>
    <NodeName Default="Categories" />
    <SortOrder>3</SortOrder>
    <FileHash></FileHash>
  </Info>
  <Properties />
</Media>