<?xml version="1.0" encoding="utf-8"?>
<Media Key="327a7f4c-3722-4f9f-a36a-507dae5b780a" Alias="Hero 2" Level="2">
  <Info>
    <Parent Key="0ebddcbb-2b64-45af-bcaf-93781614c844">Banners</Parent>
    <Path>/Banners/Hero2</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2020-09-03T13:20:03</CreateDate>
    <NodeName Default="Hero 2" />
    <SortOrder>0</SortOrder>
    <FileHash>15115157152711329512713814164447224723150</FileHash>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/jj5humrc/hero-2.jpg","crops":null}]]></Value>
    </umbracoFile>
  </Properties>
</Media>