<?xml version="1.0" encoding="utf-8"?>
<Media Key="3cb0c36b-57b1-4135-be20-db89079cc004" Alias="Logo" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Logo</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2020-09-02T14:56:53</CreateDate>
    <NodeName Default="Logo" />
    <SortOrder>1</SortOrder>
    <FileHash></FileHash>
  </Info>
  <Properties />
</Media>