<?xml version="1.0" encoding="utf-8"?>
<Media Key="3b365ee4-7625-489d-a703-224c01dae1c5" Alias="Products" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Products</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2020-09-02T13:56:41</CreateDate>
    <NodeName Default="Products" />
    <SortOrder>1</SortOrder>
    <FileHash></FileHash>
  </Info>
  <Properties />
</Media>