<?xml version="1.0" encoding="utf-8"?>
<Media Key="d6b597e7-dd98-4300-ae91-7ffe9ad0d5c3" Alias="Stylish Yellow Sale Banner Design 1017 14559" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/StylishYellowSaleBannerDesign101714559</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2020-09-05T13:05:02</CreateDate>
    <NodeName Default="Stylish Yellow Sale Banner Design 1017 14559" />
    <SortOrder>4</SortOrder>
    <FileHash>196212133252168131154129162381125011244203201</FileHash>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/2glllvuy/stylish-yellow-sale-banner-design_1017-14559.jpg","crops":null}]]></Value>
    </umbracoFile>
  </Properties>
</Media>