<?xml version="1.0" encoding="utf-8"?>
<Content Key="1592d01e-a1fb-4e02-8d1a-afd08e92a883" Alias="Banner Mangement" Level="2">
  <Info>
    <Parent Key="e2c94129-000c-40b0-b450-fdd8be05e4d6">Trang chủ</Parent>
    <Path>/TrangChu/BannerMangement</Path>
    <Trashed>false</Trashed>
    <ContentType>bannerManagement</ContentType>
    <CreateDate>2020-09-03T13:19:01</CreateDate>
    <NodeName Default="Banner Mangement" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>