<?xml version="1.0" encoding="utf-8"?>
<Content Key="a4064a9e-340c-471f-8d69-9ce9902d3e35" Alias="Black Friday" Level="3">
  <Info>
    <Parent Key="1592d01e-a1fb-4e02-8d1a-afd08e92a883">Banner Mangement</Parent>
    <Path>/TrangChu/BannerMangement/BlackFriday</Path>
    <Trashed>false</Trashed>
    <ContentType>bannerItem</ContentType>
    <CreateDate>2020-09-03T13:20:52</CreateDate>
    <NodeName Default="Black Friday" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <image>
      <Value><![CDATA[umb://media/327a7f4c37224f9fa36a507dae5b780a]]></Value>
    </image>
    <link>
      <Value><![CDATA[]]></Value>
    </link>
    <shortDescription>
      <Value><![CDATA[]]></Value>
    </shortDescription>
    <title>
      <Value><![CDATA[Black Friday]]></Value>
    </title>
  </Properties>
</Content>