<?xml version="1.0" encoding="utf-8"?>
<Content Key="1230f955-6ff5-48ce-912b-02aee9447c52" Alias="Blog" Level="2">
  <Info>
    <Parent Key="5822ce41-a4c2-4a20-804a-1cf2c46e0599">Root</Parent>
    <Path>/Root/Blog</Path>
    <Trashed>false</Trashed>
    <ContentType>blog</ContentType>
    <CreateDate>2020-09-05T13:49:12</CreateDate>
    <NodeName Default="Blog" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>