<?xml version="1.0" encoding="utf-8"?>
<Content Key="cb96c6b7-3d34-4b60-aa40-6e76615c4537" Alias="Category Management" Level="2">
  <Info>
    <Parent Key="c3b89548-63f7-4496-abce-fa117a571518">Management</Parent>
    <Path>/Management/CategoryManagement</Path>
    <Trashed>false</Trashed>
    <ContentType>categoryManagement</ContentType>
    <CreateDate>2020-09-05T14:02:07</CreateDate>
    <NodeName Default="Category Management" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>