<?xml version="1.0" encoding="utf-8"?>
<Content Key="434be28b-fa4f-44df-9c32-a740c9afe4b8" Alias="Contact" Level="2">
  <Info>
    <Parent Key="5822ce41-a4c2-4a20-804a-1cf2c46e0599">Root</Parent>
    <Path>/Root/Contact</Path>
    <Trashed>false</Trashed>
    <ContentType>contact</ContentType>
    <CreateDate>2020-09-05T13:49:20</CreateDate>
    <NodeName Default="Contact" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>