<?xml version="1.0" encoding="utf-8"?>
<Content Key="a6f19078-2a86-4aae-bf94-2eb547982704" Alias="Doan Hien" Level="2">
  <Info>
    <Parent Key="28f6fdb1-7098-47f5-985f-8ddc547a43fd">Members</Parent>
    <Path>/Members/DoanHien</Path>
    <Trashed>false</Trashed>
    <ContentType>memberDetail</ContentType>
    <CreateDate>2020-09-05T17:58:50</CreateDate>
    <NodeName Default="Doan Hien" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>