<?xml version="1.0" encoding="utf-8"?>
<Content Key="49d324e2-d390-474a-8548-b40b0083d20c" Alias="Dresses" Level="4">
  <Info>
    <Parent Key="763f3dc8-e59c-4615-b57e-f48411ada01b">Women's Clothing</Parent>
    <Path>/Management/CategoryManagement/WomenSClothing/Dresses</Path>
    <Trashed>false</Trashed>
    <ContentType>category</ContentType>
    <CreateDate>2020-09-05T15:33:33</CreateDate>
    <NodeName Default="Dresses" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <categoryName>
      <Value><![CDATA[Dresses]]></Value>
    </categoryName>
    <description>
      <Value><![CDATA[Dresses]]></Value>
    </description>
    <image>
      <Value><![CDATA[]]></Value>
    </image>
  </Properties>
</Content>