<?xml version="1.0" encoding="utf-8"?>
<Content Key="e2c94129-000c-40b0-b450-fdd8be05e4d6" Alias="Home" Level="2">
  <Info>
    <Parent Key="5822ce41-a4c2-4a20-804a-1cf2c46e0599">Root</Parent>
    <Path>/Root/Home</Path>
    <Trashed>false</Trashed>
    <ContentType>home</ContentType>
    <CreateDate>2020-09-02T14:19:46</CreateDate>
    <NodeName Default="Home" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="67af0ca9-338f-46af-b254-1416216245c2">home</Template>
  </Info>
  <Properties>
    <banner>
      <Value><![CDATA[umb://document/a4064a9e340c471f8d699ce9902d3e35,umb://document/d37744453fd54a1caac9cb9d06e41ca2]]></Value>
    </banner>
    <browserTitle>
      <Value><![CDATA[]]></Value>
    </browserTitle>
    <canonicalLink>
      <Value><![CDATA[]]></Value>
    </canonicalLink>
    <categories>
      <Value><![CDATA[]]></Value>
    </categories>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value><![CDATA[[]]]></Value>
    </metaKeywords>
    <metaName>
      <Value><![CDATA[]]></Value>
    </metaName>
    <siteName>
      <Value><![CDATA[]]></Value>
    </siteName>
  </Properties>
</Content>