<?xml version="1.0" encoding="utf-8"?>
<Content Key="e2c94129-000c-40b0-b450-fdd8be05e4d6" Alias="Home" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/TrangChu</Path>
    <Trashed>false</Trashed>
    <ContentType>home</ContentType>
    <CreateDate>2020-09-02T14:19:46</CreateDate>
    <NodeName Default="Home" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="67af0ca9-338f-46af-b254-1416216245c2">home</Template>
  </Info>
  <Properties>
    <address>
      <Value><![CDATA[123 Le Trung Nghia]]></Value>
    </address>
    <banner>
      <Value><![CDATA[umb://document/a4064a9e340c471f8d699ce9902d3e35]]></Value>
    </banner>
    <categories>
      <Value><![CDATA[[{"key":"c251bda2-5dfc-402b-987f-9e994b1d742a","name":"Item 1","ncContentTypeAlias":"commonObject","objectName":"Women’s Clothing","objectUrl":""},{"key":"578db5bd-ac52-4c6d-9dbd-76edd7c57882","name":"Item 2","ncContentTypeAlias":"commonObject","objectName":"Men’s Clothing","objectUrl":""},{"key":"49e89061-b1e9-4202-af1d-75f47295c67e","name":"Item 3","ncContentTypeAlias":"commonObject","objectName":"Underwear","objectUrl":""}]]]></Value>
    </categories>
    <email>
      <Value><![CDATA[anhtruc1234@gmail.com]]></Value>
    </email>
    <information>
      <Value><![CDATA[[{"key":"d53cd06e-ed87-4acf-a4da-e3a5cfb1e04a","name":"Item 1","ncContentTypeAlias":"commonObject","objectName":"About Us","objectUrl":""},{"key":"42f9b86d-1ea2-41d6-9f3e-06c8ec7f764c","name":"Item 2","ncContentTypeAlias":"commonObject","objectName":"Checkout","objectUrl":""},{"key":"3ffb81f8-9f5a-4e6d-94c2-3ac4844ebcbf","name":"Item 3","ncContentTypeAlias":"commonObject","objectName":"Contact","objectUrl":""}]]]></Value>
    </information>
    <logoWebsite>
      <Value><![CDATA[umb://media/894e22f9168642b286253e6196c3a607]]></Value>
    </logoWebsite>
    <menu>
      <Value><![CDATA[[{"key":"50f3c199-fa51-4cb5-8e01-503757c47c7d","name":"Item 1","ncContentTypeAlias":"commonObject","objectName":"HOME","objectUrl":""},{"key":"6e008962-fb5e-4a1b-806b-df0b3d3478e7","name":"Item 2","ncContentTypeAlias":"commonObject","objectName":"SHOP","objectUrl":""},{"key":"c99e8365-f449-43e4-8f26-a00f22fe4093","name":"Item 3","ncContentTypeAlias":"commonObject","objectName":"BLOG","objectUrl":""},{"key":"3b562e25-99c4-46b9-8fc2-ba29c54531bf","name":"Item 4","ncContentTypeAlias":"commonObject","objectName":"CONTACT","objectUrl":""}]]]></Value>
    </menu>
    <myAccount>
      <Value><![CDATA[[{"key":"076617c9-b200-41d4-9460-16a206177db2","name":"Item 1","ncContentTypeAlias":"commonObject","objectName":"My Account","objectUrl":""},{"key":"c5c22b99-7370-46b5-80da-c524cdab417a","name":"Item 2","ncContentTypeAlias":"commonObject","objectName":"Contact","objectUrl":""},{"key":"0b033d95-61c7-48a6-9c38-24216cc167be","name":"Item 3","ncContentTypeAlias":"commonObject","objectName":"Shopping Cart","objectUrl":""},{"key":"d5465b80-8640-46c4-925a-2acadbdc9cf8","name":"Item 4","ncContentTypeAlias":"commonObject","objectName":"Shop","objectUrl":""}]]]></Value>
    </myAccount>
    <phoneNumber>
      <Value><![CDATA[0704569020]]></Value>
    </phoneNumber>
    <socialMedia>
      <Value><![CDATA[[{"key":"8d6059ac-01c4-4e19-b31a-48e7ca5773d1","name":"Social Media 1","ncContentTypeAlias":"socialMedia","socialMediaName":"Facebook","logo":"","link":"https://www.facebook.com/9xdevelopers"},{"key":"24d134d8-1c99-4409-8728-eecd49e2a6a7","name":"Social Media 2","ncContentTypeAlias":"socialMedia","socialMediaName":"Twitter","logo":"","link":"https://www.facebook.com/9xdevelopers"}]]]></Value>
    </socialMedia>
    <websiteName>
      <Value><![CDATA[Fashi]]></Value>
    </websiteName>
  </Properties>
</Content>