<?xml version="1.0" encoding="utf-8"?>
<Content Key="d31141eb-7952-451d-a6ee-2f507be65a9a" Alias="Jackets" Level="4">
  <Info>
    <Parent Key="763f3dc8-e59c-4615-b57e-f48411ada01b">Women's Clothing</Parent>
    <Path>/Management/CategoryManagement/WomenSClothing/Jackets</Path>
    <Trashed>false</Trashed>
    <ContentType>category</ContentType>
    <CreateDate>2020-09-05T15:33:59</CreateDate>
    <NodeName Default="Jackets" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <categoryName>
      <Value><![CDATA[Jackets]]></Value>
    </categoryName>
    <description>
      <Value><![CDATA[Jackets]]></Value>
    </description>
    <image>
      <Value><![CDATA[]]></Value>
    </image>
  </Properties>
</Content>