<?xml version="1.0" encoding="utf-8"?>
<Content Key="c3b89548-63f7-4496-abce-fa117a571518" Alias="Management" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Management</Path>
    <Trashed>false</Trashed>
    <ContentType>management</ContentType>
    <CreateDate>2020-09-05T13:44:57</CreateDate>
    <NodeName Default="Management" />
    <SortOrder>8</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>