<?xml version="1.0" encoding="utf-8"?>
<Content Key="28f6fdb1-7098-47f5-985f-8ddc547a43fd" Alias="Members" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Members</Path>
    <Trashed>false</Trashed>
    <ContentType>members</ContentType>
    <CreateDate>2020-09-05T17:58:31</CreateDate>
    <NodeName Default="Members" />
    <SortOrder>9</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>