<?xml version="1.0" encoding="utf-8"?>
<Content Key="a5ae8987-26ea-4477-aa4e-125ec91ebada" Alias="Men's clothing" Level="3">
  <Info>
    <Parent Key="cb96c6b7-3d34-4b60-aa40-6e76615c4537">Category Management</Parent>
    <Path>/Management/CategoryManagement/MenSClothing</Path>
    <Trashed>false</Trashed>
    <ContentType>categoryParent</ContentType>
    <CreateDate>2020-09-05T15:30:59</CreateDate>
    <NodeName Default="Men's clothing" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>