<?xml version="1.0" encoding="utf-8"?>
<Content Key="c1007c39-0e61-4391-ac95-3d6ab2a002cf" Alias="Men's Clothing" Level="3">
  <Info>
    <Parent Key="cb96c6b7-3d34-4b60-aa40-6e76615c4537">Category Management</Parent>
    <Path>/Management/CategoryManagement/MenSClothing</Path>
    <Trashed>false</Trashed>
    <ContentType>category</ContentType>
    <CreateDate>2020-09-05T14:03:53</CreateDate>
    <NodeName Default="Men's Clothing" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <categoryName>
      <Value><![CDATA[Men's Clothing]]></Value>
    </categoryName>
    <description>
      <Value><![CDATA[]]></Value>
    </description>
    <image>
      <Value><![CDATA[umb://media/9a419a3230564e81b763009927bb1285]]></Value>
    </image>
  </Properties>
</Content>