<?xml version="1.0" encoding="utf-8"?>
<Content Key="304ff5ac-2ae6-4414-a579-849eac5055df" Alias="Pure Pineapple" Level="3">
  <Info>
    <Parent Key="c76e81c8-400f-4ac2-b0ce-aea36b5b36c0">Product Management</Parent>
    <Path>/Management/ProductManagement/PurePineapple</Path>
    <Trashed>false</Trashed>
    <ContentType>productDetail</ContentType>
    <CreateDate>2020-09-05T16:42:15</CreateDate>
    <NodeName Default="Pure Pineapple" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <browserTitle>
      <Value><![CDATA[]]></Value>
    </browserTitle>
    <canonicalLink>
      <Value><![CDATA[]]></Value>
    </canonicalLink>
    <category>
      <Value><![CDATA[]]></Value>
    </category>
    <description>
      <Value><![CDATA[]]></Value>
    </description>
    <displayPrice>
      <Value><![CDATA[]]></Value>
    </displayPrice>
    <image>
      <Value><![CDATA[]]></Value>
    </image>
    <images>
      <Value><![CDATA[]]></Value>
    </images>
    <link>
      <Value><![CDATA[]]></Value>
    </link>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value><![CDATA[[]]]></Value>
    </metaKeywords>
    <metaName>
      <Value><![CDATA[]]></Value>
    </metaName>
    <productName>
      <Value><![CDATA[]]></Value>
    </productName>
    <relatedProducts>
      <Value><![CDATA[]]></Value>
    </relatedProducts>
    <shortDescription>
      <Value><![CDATA[]]></Value>
    </shortDescription>
    <siteName>
      <Value><![CDATA[]]></Value>
    </siteName>
    <specifications>
      <Value><![CDATA[[{"key":"c9320c02-3c05-4b58-bbda-bcafe8726230","name":"Item 1","ncContentTypeAlias":"productSpecification","color":"","size":[],"quantity":"","detailPrice":"","images":""}]]]></Value>
    </specifications>
    <subDescription>
      <Value><![CDATA[]]></Value>
    </subDescription>
    <tags>
      <Value><![CDATA[[]]]></Value>
    </tags>
    <title>
      <Value><![CDATA[]]></Value>
    </title>
  </Properties>
</Content>