<?xml version="1.0" encoding="utf-8"?>
<Content Key="5822ce41-a4c2-4a20-804a-1cf2c46e0599" Alias="Root" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Root</Path>
    <Trashed>false</Trashed>
    <ContentType>root</ContentType>
    <CreateDate>2020-09-05T13:40:27</CreateDate>
    <NodeName Default="Root" />
    <SortOrder>7</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="67af0ca9-338f-46af-b254-1416216245c2">home</Template>
  </Info>
  <Properties>
    <address>
      <Value><![CDATA[123 Le Trung Nghia]]></Value>
    </address>
    <browserTitle>
      <Value><![CDATA[]]></Value>
    </browserTitle>
    <canonicalLink>
      <Value><![CDATA[]]></Value>
    </canonicalLink>
    <categories>
      <Value><![CDATA[umb://document/c1007c390e614391ac953d6ab2a002cf]]></Value>
    </categories>
    <email>
      <Value><![CDATA[anhtruc1234@gmail.com]]></Value>
    </email>
    <information>
      <Value><![CDATA[]]></Value>
    </information>
    <logoWebsite>
      <Value><![CDATA[umb://media/894e22f9168642b286253e6196c3a607]]></Value>
    </logoWebsite>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value><![CDATA[[]]]></Value>
    </metaKeywords>
    <metaName>
      <Value><![CDATA[]]></Value>
    </metaName>
    <myAccount>
      <Value><![CDATA[]]></Value>
    </myAccount>
    <phoneNumber>
      <Value><![CDATA[0704569020]]></Value>
    </phoneNumber>
    <siteName>
      <Value><![CDATA[]]></Value>
    </siteName>
    <socialMedia>
      <Value><![CDATA[[{"key":"7e085de0-4800-4c8a-afb2-99f10ee82ba6","name":"Social Media 1","ncContentTypeAlias":"socialMedia","socialMediaName":"Facebook","logo":"","link":"https://www.facebook.com/9xdevelopers"},{"key":"411cc019-a733-43ff-a4dd-80a25a5ebf59","name":"Social Media 2","ncContentTypeAlias":"socialMedia","socialMediaName":"Twitter","logo":"","link":"https://www.facebook.com/9xdevelopers"}]]]></Value>
    </socialMedia>
    <websiteName>
      <Value><![CDATA[Fashi]]></Value>
    </websiteName>
  </Properties>
</Content>