<?xml version="1.0" encoding="utf-8"?>
<Content Key="d3774445-3fd5-4a1c-aac9-cb9d06e41ca2" Alias="Sale Independence Day 02-09" Level="3">
  <Info>
    <Parent Key="1592d01e-a1fb-4e02-8d1a-afd08e92a883">Banner Mangement</Parent>
    <Path>/Management/BannerMangement/SaleIndependenceDay0209</Path>
    <Trashed>false</Trashed>
    <ContentType>bannerItem</ContentType>
    <CreateDate>2020-09-05T13:05:16</CreateDate>
    <NodeName Default="Sale Independence Day 02-09" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <category>
      <Value><![CDATA[]]></Value>
    </category>
    <image>
      <Value><![CDATA[umb://media/d6b597e7dd984300ae917ffe9ad0d5c3]]></Value>
    </image>
    <link>
      <Value><![CDATA[]]></Value>
    </link>
    <shortDescription>
      <Value><![CDATA[<p>giảm giá 2/9</p>]]></Value>
    </shortDescription>
    <title>
      <Value><![CDATA[Sale Independence Day 02-09]]></Value>
    </title>
  </Properties>
</Content>