<?xml version="1.0" encoding="utf-8"?>
<Content Key="9b6cf6e0-4c08-456b-84c6-4f97336f909c" Alias="Shop" Level="2">
  <Info>
    <Parent Key="5822ce41-a4c2-4a20-804a-1cf2c46e0599">Root</Parent>
    <Path>/Root/Shop</Path>
    <Trashed>false</Trashed>
    <ContentType>shop</ContentType>
    <CreateDate>2020-09-05T13:49:07</CreateDate>
    <NodeName Default="Shop" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>