<?xml version="1.0" encoding="utf-8"?>
<Content Key="20f75b93-94bd-4c1f-89bc-9970b81180b0" Alias="Truc Phan" Level="2">
  <Info>
    <Parent Key="28f6fdb1-7098-47f5-985f-8ddc547a43fd">Members</Parent>
    <Path>/Members/TrucPhan</Path>
    <Trashed>false</Trashed>
    <ContentType>memberDetail</ContentType>
    <CreateDate>2020-09-05T17:58:43</CreateDate>
    <NodeName Default="Truc Phan" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>