<?xml version="1.0" encoding="utf-8"?>
<Content Key="763f3dc8-e59c-4615-b57e-f48411ada01b" Alias="Women's Clothing" Level="3">
  <Info>
    <Parent Key="cb96c6b7-3d34-4b60-aa40-6e76615c4537">Category Management</Parent>
    <Path>/Management/CategoryManagement/WomenSClothing</Path>
    <Trashed>false</Trashed>
    <ContentType>categoryParent</ContentType>
    <CreateDate>2020-09-05T15:29:46</CreateDate>
    <NodeName Default="Women's Clothing" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>