<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="80726f2d-0556-438b-bc4b-4bd3e00bb22f" Alias="bannerItem" Level="3">
  <Info>
    <Name>Banner Item</Name>
    <Icon>icon-umb-media color-green</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Pages/Banner</Folder>
    <Compositions>
      <Composition Key="96eef44a-5d8f-4b4e-b7b9-5d15925404de">openGraph</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>d466f0e8-6ec2-4251-91f8-8425ce788254</Key>
      <Name>Category</Name>
      <Alias>category</Alias>
      <Definition>45b1f535-6792-465e-b8c8-1551d08fa9a1</Definition>
      <Type>Umbraco.MultiNodeTreePicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>4</SortOrder>
      <Tab>Content</Tab>
      <MandatoryMessage />
      <ValidationRegExpMessage />
      <Variations>Nothing</Variations>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Content</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>