<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="24a7d964-977f-4caf-b04e-a488300ff50e" Alias="bannerManagement" Level="3">
  <Info>
    <Name>Banner Management</Name>
    <Icon>icon-slideshow color-green</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>True</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Pages/Banner</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="80726f2d-0556-438b-bc4b-4bd3e00bb22f" SortOrder="0">bannerItem</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>