<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="7c93b53f-bd0e-4483-8772-8bd0c6015c91" Alias="blogDetail" Level="3">
  <Info>
    <Name>Blog Detail</Name>
    <Icon>icon-layout color-green</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Pages/Blog</Folder>
    <Compositions>
      <Composition Key="3d1fcb44-7cf0-4401-8bcf-51d1219f3ffe">contentBase</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>ffb9a4eb-901f-4060-985a-01c55d09b559</Key>
      <Name>Author</Name>
      <Alias>author</Alias>
      <Definition>eae940a5-8462-4fba-9e18-70c7dca79f6e</Definition>
      <Type>Umbraco.ContentPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>6</SortOrder>
      <Tab>Content</Tab>
      <MandatoryMessage />
      <ValidationRegExpMessage />
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>b39050e6-20d2-464c-8033-d4254e42d6b5</Key>
      <Name>Blog Post Date</Name>
      <Alias>blogPostDate</Alias>
      <Definition>e4d66c0f-b935-4200-81f0-025f7256b89a</Definition>
      <Type>Umbraco.DateTime</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>4</SortOrder>
      <Tab>Content</Tab>
      <MandatoryMessage />
      <ValidationRegExpMessage />
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>8580f196-58cc-4bba-8f18-79293e282bd4</Key>
      <Name>Category</Name>
      <Alias>category</Alias>
      <Definition>63f13450-e4b6-4ec9-b292-e79efbb93f9a</Definition>
      <Type>Umbraco.CheckBoxList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>5</SortOrder>
      <Tab>Content</Tab>
      <MandatoryMessage />
      <ValidationRegExpMessage />
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>898b6ac9-76e3-4ee5-9add-a3bde85b8962</Key>
      <Name>Content</Name>
      <Alias>content</Alias>
      <Definition>c99d5b36-2370-4533-a27d-604d795282e8</Definition>
      <Type>Umbraco.Grid</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab>Content</Tab>
      <MandatoryMessage />
      <ValidationRegExpMessage />
      <Variations>Nothing</Variations>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Content</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>