<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="658c98b6-b67b-45d0-b94c-d4c0a89c741d" Alias="home" Level="3">
  <Info>
    <Name>Home</Name>
    <Icon>icon-home color-green</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Pages/Home</Folder>
    <Compositions>
      <Composition Key="d240ebd8-169e-46f9-84f9-1bbd3ccba5a7">sEO</Composition>
    </Compositions>
    <DefaultTemplate>home</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="67af0ca9-338f-46af-b254-1416216245c2">home</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>04aa74fd-b5db-426f-ab2c-c871cff48583</Key>
      <Name>Banner</Name>
      <Alias>banner</Alias>
      <Definition>9a759783-162f-4929-a1d1-a42df26044f3</Definition>
      <Type>Umbraco.MultiNodeTreePicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Banner</Tab>
      <MandatoryMessage />
      <ValidationRegExpMessage />
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>c43bf55e-1f57-44c3-890f-f653d5171a77</Key>
      <Name>Categories</Name>
      <Alias>categories</Alias>
      <Definition>e5cecf37-37e7-4964-9618-787d29775ab7</Definition>
      <Type>Umbraco.MultiNodeTreePicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Outstanding Category</Tab>
      <MandatoryMessage />
      <ValidationRegExpMessage />
      <Variations>Nothing</Variations>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Banner</Caption>
      <SortOrder>5</SortOrder>
    </Tab>
    <Tab>
      <Caption>Outstanding Category</Caption>
      <SortOrder>6</SortOrder>
    </Tab>
  </Tabs>
</ContentType>