<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="f5ada9cd-cc12-4dc2-b576-a9ddc599a866" Alias="management" Level="2">
  <Info>
    <Name>Management</Name>
    <Icon>icon-bulleted-list color-green</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Pages</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="24a7d964-977f-4caf-b04e-a488300ff50e" SortOrder="0">bannerManagement</ContentType>
    <ContentType Key="aac0e1b4-40bf-447c-8e3b-413a8edd2fb2" SortOrder="1">categoryManagement</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>