<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="8ed46334-08ee-4739-8aae-724492b58cd3" Alias="members" Level="2">
  <Info>
    <Name>Members</Name>
    <Icon>icon-users color-green</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Pages</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="a309902a-98f2-48f6-bd4c-39b186d08a7e" SortOrder="0">memberDetail</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>