<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="a309902a-98f2-48f6-bd4c-39b186d08a7e" Alias="memberDetail" Level="3">
  <Info>
    <Name>Member Detail</Name>
    <Icon>icon-user color-green</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Pages/Member</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>