<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="f0f20be0-2788-4396-b46c-3643b1d1c5e2" Alias="productManagement" Level="3">
  <Info>
    <Name>Product Management</Name>
    <Icon>icon-server-alt color-green</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>True</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Pages/Product</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="0c82b2c0-eb57-425c-af3b-64651fba70d1" SortOrder="0">productDetail</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>