<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="61cbfd84-9638-4099-a279-6c0953f0d2c5" Alias="productSpecification" Level="2">
  <Info>
    <Name>Product Specification</Name>
    <Icon>icon-info color-green</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <Folder>Compositions</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>efbc78a5-9ed1-44cf-bb8a-d22ecac9dc6d</Key>
      <Name>Color</Name>
      <Alias>color</Alias>
      <Definition>40e4dc5b-5b81-4b2b-8f9b-868f650c6958</Definition>
      <Type>Umbraco.ColorPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Specifications</Tab>
      <MandatoryMessage />
      <ValidationRegExpMessage />
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>a30f79a4-ae40-48cc-86b3-02284eb293a7</Key>
      <Name>Detail Price</Name>
      <Alias>detailPrice</Alias>
      <Definition>cf2bb0e2-dd0e-47c4-9f46-9bb0110fc707</Definition>
      <Type>Umbraco.Integer</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab>Specifications</Tab>
      <MandatoryMessage />
      <ValidationRegExpMessage />
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>9414dd80-d1bd-44fa-a7b3-e2b78ff7a7e9</Key>
      <Name>Images</Name>
      <Alias>images</Alias>
      <Definition>9dbbcbbb-2327-434a-b355-af1b84e5010a</Definition>
      <Type>Umbraco.MediaPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>4</SortOrder>
      <Tab>Specifications</Tab>
      <MandatoryMessage />
      <ValidationRegExpMessage />
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>21042243-7f4d-4edf-a18b-a812b1430326</Key>
      <Name>Quantity</Name>
      <Alias>quantity</Alias>
      <Definition>cf2bb0e2-dd0e-47c4-9f46-9bb0110fc707</Definition>
      <Type>Umbraco.Integer</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab>Specifications</Tab>
      <MandatoryMessage />
      <ValidationRegExpMessage />
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>101d5426-ea2d-458b-8a42-5b9e7b848442</Key>
      <Name>Size</Name>
      <Alias>size</Alias>
      <Definition>535ab86b-ad79-4b15-9965-2e1f34868cc0</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Specifications</Tab>
      <MandatoryMessage />
      <ValidationRegExpMessage />
      <Variations>Nothing</Variations>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Specifications</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>