<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="d7ee4353-cc95-40bf-b62e-b7e0b66079d7" Alias="root" Level="2">
  <Info>
    <Name>Root</Name>
    <Icon>icon-flowerpot color-green</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="d240ebd8-169e-46f9-84f9-1bbd3ccba5a7">sEO</Composition>
    </Compositions>
    <DefaultTemplate>home</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="67af0ca9-338f-46af-b254-1416216245c2">home</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="658c98b6-b67b-45d0-b94c-d4c0a89c741d" SortOrder="0">home</ContentType>
    <ContentType Key="3b5904f1-b507-4cc3-b2c8-f7032ab746b2" SortOrder="1">shop</ContentType>
    <ContentType Key="9a8496ee-f669-4e06-9e71-2842f63a9023" SortOrder="2">blog</ContentType>
    <ContentType Key="4da9b09d-9eec-469f-bb52-c12b9972f9d7" SortOrder="3">contact</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>7f51a3d2-bc22-4aa2-9a66-31c300fc03fa</Key>
      <Name>Address</Name>
      <Alias>address</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab>Website Info</Tab>
      <MandatoryMessage />
      <ValidationRegExpMessage />
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>d89006b7-b756-4d2e-9469-e5d91778ebf3</Key>
      <Name>Categories</Name>
      <Alias>categories</Alias>
      <Definition>e5cecf37-37e7-4964-9618-787d29775ab7</Definition>
      <Type>Umbraco.MultiNodeTreePicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Categories</Tab>
      <MandatoryMessage />
      <ValidationRegExpMessage />
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>47b7a9f2-1706-4b58-bf11-5508920a88f9</Key>
      <Name>Email</Name>
      <Alias>email</Alias>
      <Definition>eb0e87e7-dcd6-4a78-b763-12108e172f91</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab>Website Info</Tab>
      <MandatoryMessage />
      <ValidationRegExpMessage />
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>a1cd2d59-5466-49a7-bbb0-fce6581c7161</Key>
      <Name>Information</Name>
      <Alias>information</Alias>
      <Definition>66a6037a-4c46-4165-b21a-edbe97da0192</Definition>
      <Type>Umbraco.MultiUrlPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Footer Links</Tab>
      <MandatoryMessage />
      <ValidationRegExpMessage />
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>7e71c0d9-0c52-4108-9d0c-6663f05f97c5</Key>
      <Name>Logo Website</Name>
      <Alias>logoWebsite</Alias>
      <Definition>f26b26fe-14a7-4f5d-a601-863a228087bf</Definition>
      <Type>Umbraco.MediaPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>4</SortOrder>
      <Tab>Website Info</Tab>
      <MandatoryMessage />
      <ValidationRegExpMessage />
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>dc2d3906-910e-41d2-9530-9cd6f0ce0b9c</Key>
      <Name>My Account</Name>
      <Alias>myAccount</Alias>
      <Definition>66a6037a-4c46-4165-b21a-edbe97da0192</Definition>
      <Type>Umbraco.MultiUrlPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Footer Links</Tab>
      <MandatoryMessage />
      <ValidationRegExpMessage />
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>35b0eecd-1901-4699-9e80-cbfa321deaee</Key>
      <Name>Phone Number</Name>
      <Alias>phoneNumber</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Website Info</Tab>
      <MandatoryMessage />
      <ValidationRegExpMessage />
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>4ecb57a7-4be2-4498-b6af-e5806be5e5e8</Key>
      <Name>Social Media</Name>
      <Alias>socialMedia</Alias>
      <Definition>ea2c49e3-abea-4b95-bfae-187b87ec7597</Definition>
      <Type>Umbraco.NestedContent</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Social Media</Tab>
      <MandatoryMessage />
      <ValidationRegExpMessage />
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>e1658edc-54a7-4dbd-8078-9bccc11c7f1c</Key>
      <Name>Website Name</Name>
      <Alias>websiteName</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Website Info</Tab>
      <MandatoryMessage />
      <ValidationRegExpMessage />
      <Variations>Nothing</Variations>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Website Info</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Caption>Social Media</Caption>
      <SortOrder>1</SortOrder>
    </Tab>
    <Tab>
      <Caption>Categories</Caption>
      <SortOrder>3</SortOrder>
    </Tab>
    <Tab>
      <Caption>Footer Links</Caption>
      <SortOrder>4</SortOrder>
    </Tab>
  </Tabs>
</ContentType>