<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="3b5904f1-b507-4cc3-b2c8-f7032ab746b2" Alias="shop" Level="3">
  <Info>
    <Name>Shop</Name>
    <Icon>icon-shopping-basket-alt color-green</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Pages/Shop</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="9abadfb3-a722-408e-94fc-3cbf7176c654" SortOrder="0">category</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>