<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="20326d77-5dac-4a69-8eab-0e2e05e0bcc9" Alias="socialMedia" Level="2">
  <Info>
    <Name>Social Media</Name>
    <Icon>icon-facebook-like color-green</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <Folder>Custom+Controls</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>31f9c23b-46b4-4c7b-9576-bbf408c43339</Key>
      <Name>Link</Name>
      <Alias>link</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab>Social Media</Tab>
      <MandatoryMessage />
      <ValidationRegExpMessage />
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>26a54fd9-5531-451a-b952-80555eb4e883</Key>
      <Name>Logo</Name>
      <Alias>logo</Alias>
      <Definition>f26b26fe-14a7-4f5d-a601-863a228087bf</Definition>
      <Type>Umbraco.MediaPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Social Media</Tab>
      <MandatoryMessage />
      <ValidationRegExpMessage />
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>8d3eb229-793f-4ffb-828d-1d0d7867e839</Key>
      <Name>Social Media Name</Name>
      <Alias>socialMediaName</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Social Media</Tab>
      <MandatoryMessage />
      <ValidationRegExpMessage />
      <Variations>Nothing</Variations>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Social Media</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>