<?xml version="1.0" encoding="utf-8"?>
<Content Key="e510e383-1c5f-4bf0-8e0a-d5e9b48461bc" Alias="Sale Independence Day 02-09" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/SaleIndependenceDay0209</Path>
    <Trashed>false</Trashed>
    <ContentType>bannerItem</ContentType>
    <CreateDate>2020-09-06T15:15:29</CreateDate>
    <NodeName Default="Sale Independence Day 02-09" />
    <SortOrder>1</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
    <IsBlueprint>true</IsBlueprint>
  </Info>
  <Properties>
    <category>
      <Value><![CDATA[]]></Value>
    </category>
    <image>
      <Value><![CDATA[umb://media/d6b597e7dd984300ae917ffe9ad0d5c3]]></Value>
    </image>
    <link>
      <Value><![CDATA[]]></Value>
    </link>
    <shortDescription>
      <Value><![CDATA[<p>giảm giá 2/9</p>]]></Value>
    </shortDescription>
    <title>
      <Value><![CDATA[Sale Independence Day 02-09]]></Value>
    </title>
  </Properties>
</Content>