<?xml version="1.0" encoding="utf-8"?>
<Content Key="c2039d86-cabe-4e49-88e1-339958ec0be6" Alias="Truc Phan" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/TrucPhan</Path>
    <Trashed>false</Trashed>
    <ContentType>memberDetail</ContentType>
    <CreateDate>2020-09-06T15:13:08</CreateDate>
    <NodeName Default="Truc Phan" />
    <SortOrder>0</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
    <IsBlueprint>true</IsBlueprint>
  </Info>
  <Properties />
</Content>