<?xml version="1.0" encoding="utf-8"?>
<DataType Key="63f13450-e4b6-4ec9-b292-e79efbb93f9a" Alias="Blog Detail - Category - Checkbox list" Level="1">
  <Info>
    <Name>Blog Detail - Category - Checkbox list</Name>
    <EditorAlias>Umbraco.CheckBoxList</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Items": [
    {
      "id": 1,
      "value": "TRAVEL"
    },
    {
      "id": 2,
      "value": "BEAUTY"
    },
    {
      "id": 3,
      "value": "FASHION"
    }
  ]
}]]></Config>
</DataType>