<?xml version="1.0" encoding="utf-8"?>
<DataType Key="eae940a5-8462-4fba-9e18-70c7dca79f6e" Alias="Blog Detail - Author - Content Picker" Level="1">
  <Info>
    <Name>Blog Detail - Author - Content Picker</Name>
    <EditorAlias>Umbraco.ContentPicker</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "ShowOpenButton": false,
  "StartNodeId": "umb://document/28f6fdb1709847f5985f8ddc547a43fd",
  "IgnoreUserStartNodes": false
}]]></Config>
</DataType>