<?xml version="1.0" encoding="utf-8"?>
<DataType Key="f5fbd5d7-0032-4be2-89f0-ecc39d7203d0" Alias="Categories - Nested Content" Level="1">
  <Info>
    <Name>Categories - Nested Content</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "ContentTypes": [
    {
      "ncAlias": "commonObject",
      "ncTabAlias": "Content",
      "nameTemplate": ""
    }
  ],
  "MinItems": null,
  "MaxItems": null,
  "ConfirmDeletes": true,
  "ShowIcons": true,
  "HideLabel": false
}]]></Config>
</DataType>