<?xml version="1.0" encoding="utf-8"?>
<DataType Key="9a759783-162f-4929-a1d1-a42df26044f3" Alias="Home - Banner - Multinode Treepicker" Level="1">
  <Info>
    <Name>Home - Banner - Multinode Treepicker</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "TreeSource": {
    "type": "content",
    "query": null,
    "id": "umb://document/1592d01ea1fb4e028d1aafd08e92a883"
  },
  "Filter": "bannerItem",
  "MinNumber": 0,
  "MaxNumber": 0,
  "ShowOpen": false,
  "IgnoreUserStartNodes": false
}]]></Config>
</DataType>