<?xml version="1.0" encoding="utf-8"?>
<DataType Key="f26b26fe-14a7-4f5d-a601-863a228087bf" Alias="Media Picker - 1 Image Only" Level="2">
  <Info>
    <Name>Media Picker - 1 Image Only</Name>
    <EditorAlias>Umbraco.MediaPicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Custom</Folder>
  </Info>
  <Config><![CDATA[{
  "Multiple": false,
  "OnlyImages": true,
  "DisableFolderSelect": false,
  "StartNodeId": null,
  "IgnoreUserStartNodes": false
}]]></Config>
</DataType>