<?xml version="1.0" encoding="utf-8"?>
<DataType Key="692b182b-2fb1-409b-8148-131fda314df4" Alias="Menu Item - Nested Content" Level="1">
  <Info>
    <Name>Menu Item - Nested Content</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "ContentTypes": [
    {
      "ncAlias": "commonObject",
      "ncTabAlias": "Content",
      "nameTemplate": ""
    }
  ],
  "MinItems": null,
  "MaxItems": null,
  "ConfirmDeletes": true,
  "ShowIcons": true,
  "HideLabel": false
}]]></Config>
</DataType>