<?xml version="1.0" encoding="utf-8"?>
<DataType Key="535ab86b-ad79-4b15-9965-2e1f34868cc0" Alias="Product Size Dropdown" Level="2">
  <Info>
    <Name>Product Size Dropdown</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <Folder>Custom</Folder>
  </Info>
  <Config><![CDATA[{
  "Multiple": false,
  "Items": [
    {
      "id": 1,
      "value": "XS"
    },
    {
      "id": 2,
      "value": "S"
    },
    {
      "id": 3,
      "value": "M"
    },
    {
      "id": 4,
      "value": "X"
    },
    {
      "id": 5,
      "value": "XL"
    }
  ]
}]]></Config>
</DataType>