<?xml version="1.0" encoding="utf-8"?>
<DataType Key="89c5437d-b848-4a05-954f-91a0c5b46383" Alias="Product Detail - Related Products - Multinode Treepicker" Level="1">
  <Info>
    <Name>Product Detail - Related Products - Multinode Treepicker</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "TreeSource": {
    "type": "content",
    "query": null,
    "id": "umb://document/c76e81c8400f4ac2b0ceaea36b5b36c0"
  },
  "Filter": null,
  "MinNumber": 0,
  "MaxNumber": 3,
  "ShowOpen": true,
  "IgnoreUserStartNodes": false
}]]></Config>
</DataType>