<?xml version="1.0" encoding="utf-8"?>
<DataType Key="40e4dc5b-5b81-4b2b-8f9b-868f650c6958" Alias="Product Color Picker" Level="2">
  <Info>
    <Name>Product Color Picker</Name>
    <EditorAlias>Umbraco.ColorPicker</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <Folder>Custom</Folder>
  </Info>
  <Config><![CDATA[{
  "UseLabel": true,
  "Items": [
    {
      "id": 2,
      "value": "{\"value\":\"000000\",\"label\":\"Black\"}"
    },
    {
      "id": 3,
      "value": "{\"value\":\"8230e3\",\"label\":\"Violet\"}"
    },
    {
      "id": 4,
      "value": "{\"value\":\"eeee21\",\"label\":\"Yellow\"}"
    },
    {
      "id": 5,
      "value": "{\"value\":\"dc3232\",\"label\":\"Red\"}"
    },
    {
      "id": 6,
      "value": "{\"value\":\"2773be\",\"label\":\"Blue\"}"
    },
    {
      "id": 7,
      "value": "{\"value\":\"81d742\",\"label\":\"Green\"}"
    }
  ]
}]]></Config>
</DataType>