<?xml version="1.0" encoding="utf-8"?>
<DataType Key="66a6037a-4c46-4165-b21a-edbe97da0192" Alias="Root - Information - Multi Url Picker" Level="1">
  <Info>
    <Name>Root - Information - Multi Url Picker</Name>
    <EditorAlias>Umbraco.MultiUrlPicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MinNumber": 0,
  "MaxNumber": 0,
  "IgnoreUserStartNodes": false,
  "HideAnchor": false
}]]></Config>
</DataType>