<?xml version="1.0" encoding="utf-8"?>
<DataType Key="e5cecf37-37e7-4964-9618-787d29775ab7" Alias="Root - Categories - Multinode Treepicker" Level="1">
  <Info>
    <Name>Root - Categories - Multinode Treepicker</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "TreeSource": {
    "type": "content",
    "query": null,
    "id": "umb://document/cb96c6b73d344b60aa406e76615c4537"
  },
  "Filter": "category",
  "MinNumber": 0,
  "MaxNumber": 0,
  "ShowOpen": false,
  "IgnoreUserStartNodes": false
}]]></Config>
</DataType>