<?xml version="1.0" encoding="utf-8"?>
<DataType Key="ea2c49e3-abea-4b95-bfae-187b87ec7597" Alias="Social Media - Nested Content" Level="1">
  <Info>
    <Name>Social Media - Nested Content</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "ContentTypes": [
    {
      "ncAlias": "socialMedia",
      "ncTabAlias": "Social Media",
      "nameTemplate": "Social Media {{$index}}"
    }
  ],
  "MinItems": null,
  "MaxItems": null,
  "ConfirmDeletes": true,
  "ShowIcons": true,
  "HideLabel": false
}]]></Config>
</DataType>