<?xml version="1.0" encoding="utf-8"?>
<DataType Key="eb0e87e7-dcd6-4a78-b763-12108e172f91" Alias="Textbox - Email" Level="2">
  <Info>
    <Name>Textbox - Email</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <Folder>Custom</Folder>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null
}]]></Config>
</DataType>