<?xml version="1.0" encoding="utf-8"?>
<DataType Key="a76af9f3-b62a-418d-9c7c-6fb797a9e7a3" Alias="Textbox - Number Only" Level="2">
  <Info>
    <Name>Textbox - Number Only</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <Folder>Custom</Folder>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null
}]]></Config>
</DataType>